.contact-card {
    display: flex;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.contact-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.image-container { 
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
}

.image-container img {
    max-width: 80%;
    max-height: 80%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.contact-card-inner { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 280px;
    padding-left: 10px;
    line-height: 32px;
}

.contact-card-inner > div > span {
    vertical-align: middle;
}

.information-container { 
    font-size: 20px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.contact-details-icon {
    display: inline-block;
    height: 23px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
    margin-right: 5px;
}

.email-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAWXSURBVHhe7ZzpUhtHFEb5lbxLlvdLYpK4nODsDgbMZsxqFgNiNyZYhEVgJIFGMghJlvQUqVT5T5JOf+KSiNEdGF1GC+ieqlNFwfTt7k/STM80pTZFURRFURRFURRFURRFURRFURRFURRFueBttvhpMlfoTGaLZ06u+GcyVzStLDKwppFJKlP8hGIKnnw+/6EN/YmTLfzNDUS1L4bNxskWe9Lp9AcUWzCgoC2+xXWqMmYL4UBfBCdX6Gc7Ur21ZwuK72bgvKanHYHZwl/Js8LHFKOcUHg/lMjk+U5UT5HZ/OvIHMUop+Pp1PvvhqbNzvFbtiO10t3jE/P9s2nzcHDqPcUop7175J/POofMve5h+4rusR2q/ztnM7rXNWKQGbKjGOWgULk900smepplO29lY+mszWb5UlaQYpTjLggfDEyYzcMEO5BWdPNNwjzof16RE6QY5Sz9fmDae84/UuV+/viZGV8N4+aDHVQriLlPrIVLWbjzQWbIjmKUg44izqn5cWS2ohP489icOUilKwZ318Wcf7Fz5zJBVsgMx1GMci46TNhXe3R5k321v3wyalZ2Di8N8C67aueKObtzQDbICFldHEsxyinvGG7sH5n7veMVncOB+TVznHl36fi7JOY2GHrJzh2ZIBt3G4pRjrsgjJ5kzePJRXYgHU+nzXY8VdHmtrt9lDIPh6bYOSMLZMK1oxjlcEWhY33x245d8w5XDAi/w99wDNf2Nok5zN5gnhSjHK5ouXi3413vHhzsmvJ+Z9wGMfauySV2bn4/6RSjHK6oW5wbcf7nBup1bmx2S9e6vgl2TtVc6yhGOVxRL5erWB00qxjj2Ir3ag9z5Np5STHK4YpeJdbHuDdwDx6Wr4+bUYztp9Fg73coRjlc0evEHSLukq+6Q+TaNdLFGt3xU4xyuKJ+xfMiPDdyTwr2za6ao3Tj7xnidgwYCzfGIJ55UYxyuKLVGDvNlZ6gchP8dnDSbMUctl093IolS2PgxoYxY+xcu2qkGOVwRSViLwF7Cu6JfmE/4tOvtuv6UA99oU/07R5P0PseFKMcrqhU7Kphd809afjr85A5PMmw7YIUfXROLLBjqMXOH8Uohyt6E7FXOrSwzgbwde+YWY/E2HZBuB6Jl/rg+saYarH3TTHK4YoG4dpe1HzF3TNYhxc37I1OcGGgFmqitrs/jAFj4doFIcUohysalG9SGfNofL4iFPjD8IzZS9z8dIAaqMX1gb4xBq5dUFKMcriiQYoL4uTLLfaeAZvbC+F9tp0f0badufCjL/RZjws/xSiHK1oLw1HHfDPA76v2ziybeBVLQhyLNlwt9IG+uHa1kGKUwxWtlaXgXqywwWHT+3X0+psiHOO1QY7a1byQQUgxyuGK1tpQOIL/qakI8PzUwT8WOD+VeTz+sLVQ092mHlKMcrii9XA3ceJ58cRm+EHy7L9j8bPXBjlqoFZ57XpKMcrhitZLLB9HlryXj6u70ZJey1m0DXI5K5FilMMVrbev9uPmfh//jwCcOBZtuFr1lmKUwxVthOePEEJs4OXimHo80vArxSiHK9oosfk9s8E/RMPv8Ldm+0cAilEOV7TR4jFyR9ljZPyM33HHNlqKUQ5XtBk8Ontn+udWS+Jn7phmkGKUwxVV/UsxyuGKqv6lGOVwRVX/UoxyuKKqfylGOVxR1b8UoxyuqOpfilEOV1T1L8Uohyuq+pdilMMVVf1LMcpxcsU/uMLq9SI7ilGOLZLmiqvX6+QKpxSjnNK3YzHF1et1ssVHFKMc/boaoUF9XQ2wxXrZTtSr7KL4bg6+fgtfw8V0orIWNmv0vXHFHj0dXaE97dhFS3fg4Zfj5PMf4eKCK7wuUc+XmqUskInNhmJSFEVRFEVRFEVRFEVRFEVRFEVRFEVRWp62tn8BMPiGdxu2NdsAAAAASUVORK5CYII=');
}

.contact-email {
    color: #78909c;
}