.App {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    flex: 1;
}

.App .contact-card {
    margin: 10px;
}
